In [7]:
import pandas as pd

In [5]:
from keras.layers import Input, Dense
from snn import SNN, Entity, Relation

In [6]:
Person = Entity("Person")
Movie = Entity("Movie")

In [13]:
df = pd.read_csv("../data/relations.tsv", sep="\t", names=['Movie', 'Relation', 'Person'], nrows=1000)

In [14]:
df.head()

                    Movie         Relation                Person
0              Carmencita             self            Carmencita
1              Carmencita         director  William K.L. Dickson
2              Carmencita  cinematographer         William Heise
3  Le clown et ses chiens         director         Émile Reynaud
4  Le clown et ses chiens         composer         Gaston Paulin

In [20]:
relations = [Relation(label=l, dst=Person, src=Movie) for l in df['Relation'].unique()]

In [22]:
entities = [Person, Movie]

In [23]:
person_map = {}

for p in df['Person']:
    if p not in person_map:
        person_map[p] = len(person_map)

In [25]:
movie_map = {}

for p in df['Movie']:
    if p not in movie_map:
        movie_map[p] = len(movie_map)

In [38]:
tuples = []

for t in df.itertuples():
    tuples.append([person_map[t.Person], movie_map[t.Movie], t.Relation])